In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.DataFrame({'col1':[1,2,3,4],
              'col2':[5,6,7,8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [3]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[ 2,  4,  4],
       [ 4,  1,  8],
       [11,  9, 10],
       [15,  1, 13],
       [18, 10, 17]])

In [4]:
pd.DataFrame(arr, columns=tuple('abc'))

    a   b   c
0   2   4   4
1   4   1   8
2  11   9  10
3  15   1  13
4  18  10  17

In [5]:
pd.util.testing.makeDataFrame().head()

D:\WPy64-3770\python-3.7.7.amd64\lib\site-packages\pandas\util\__init__.py:12: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
SNltvToYKW -1.262980 -0.559598 -0.670737 -1.244376
lJFp8UzZOI  0.091579  2.501596 -0.732426  0.263457
VRYKvAVtgc -0.555463  0.005811  0.093942 -0.378043
N3dbBpvKvr  0.126587 -0.983043 -2.061012  0.089053
zHmPluh8Hk -0.486433 -1.226424  1.283805 -0.873023

In [7]:
pd.util.testing.makeMixedDataFrame().head()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [8]:
pd.util.testing.makeTimeDataFrame().head()

                   A         B         C         D
2000-01-03  0.319045  1.822597  0.458690 -0.629253
2000-01-04 -1.574959  1.887687  1.606684 -0.530883
2000-01-05 -0.002038  0.556511 -0.542449  0.960766
2000-01-06 -2.402158 -0.472538  0.998861 -0.728407
2000-01-07  0.402690  0.306711  0.344566 -0.172663

In [10]:
pd.util.testing.makeMissingDataframe().head()

                   A         B         C         D
3lIN04yWq9 -2.432506  2.491115  0.373150  0.268239
PzmwQPflGx  0.663450  0.834369       NaN -0.141140
zPNzQuiYoJ  1.019728 -0.293221 -0.478544  0.121764
fXi4UOHRww  0.643158 -0.437015  0.030294  0.156783
3zlQHHb2si -0.911744 -1.626350  0.700314 -0.585273