In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'a':[15,15,18,np.nan,12],
       'b':[15,15,18,np.nan,12]}
df = pd.DataFrame(data)
df

      a     b
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

In [3]:
df['a']==df['b']

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [4]:
df['a'].equals(df['b'])

True

In [5]:
df1 = df.copy(deep=True)
df.equals(df1)

True

In [6]:
df == df1

       a      b
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True