In [1]:
import pandas as pd

In [15]:
df = pd.util.testing.makeMissingDataframe().reset_index()
df.head()

        index         A         B         C         D
0  7PCnTsyVEN  0.682958  1.202915 -0.408545  1.098642
1  k6qK6E4rok -0.369934 -0.740728  0.044238  0.199108
2  7Exd1HnXhl       NaN -0.271847  0.697577  1.255761
3  yVe7k8YC2G  1.703585 -0.773951       NaN       NaN
4  0hCJypf27H -0.823685  0.158241  1.228627 -0.342946

In [16]:
df = df.rename(columns={'index':'Z'})
df.head()

            Z         A         B         C         D
0  7PCnTsyVEN  0.682958  1.202915 -0.408545  1.098642
1  k6qK6E4rok -0.369934 -0.740728  0.044238  0.199108
2  7Exd1HnXhl       NaN -0.271847  0.697577  1.255761
3  yVe7k8YC2G  1.703585 -0.773951       NaN       NaN
4  0hCJypf27H -0.823685  0.158241  1.228627 -0.342946

In [18]:
df_backup = df.copy(deep=True)

In [19]:
df = df.dropna(axis='columns')
df.head()

            Z
0  7PCnTsyVEN
1  k6qK6E4rok
2  7Exd1HnXhl
3  yVe7k8YC2G
4  0hCJypf27H

In [20]:
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

            Z         A         B         C         D
0  7PCnTsyVEN  0.682958  1.202915 -0.408545  1.098642
1  k6qK6E4rok -0.369934 -0.740728  0.044238  0.199108
4  0hCJypf27H -0.823685  0.158241  1.228627 -0.342946
7  Pqk7kKkVGD  0.457278 -0.941342  0.188495 -1.041242
8  7KW3oAEmqz -0.584569 -0.885675  0.113011  1.239357

In [21]:
df = df_backup.copy(deep=True)
df.isna().mean()

Z    0.000000
A    0.100000
B    0.066667
C    0.166667
D    0.066667
dtype: float64

In [ ]:
treshold = len(df)*0.9
df = df.dropna()